header.large .brand {
  width: 75%;
}
.pick-up > label {
  line-height: 31px;
}
.service-box {
  min-height: 230px;
}
.vehicle-data table {
  font-size: 18px;
}
.fee-section {
  padding: 0 0 0 30px;
}